<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
   <connectionStrings>
      <add name="Bibliotekarz.Properties.Settings.bazaaaConnectionString"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bazaaa.mdb"
         providerName="System.Data.OleDb" />
      <add name="Bibliotekarz.Properties.Settings.LibraryConnectionString"
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True;Pooling=False"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
   <appSettings>
     <add key="provider" value="System.Data.SqlClient" />

     <add key="connectionString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True;Pooling=False"/>
   
   </appSettings>
     <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>